html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol,
a,
body,
html {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: cagliostro;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}
