.hero {
  position: relative;
  height: 100vh;
  background-image: url("../../img/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: 520px;
  margin-bottom: 200px;
  &::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 460px;
    height: 650px;
    top: calc(0% + 100px);
    left: 0;
    background-image: url("../../img/main-1.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
  &::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 460px;
    height: 560px;
    top: 0;
    right: 0;
    background-image: url("../../img/main-2.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__main-img {
    max-width: 600px;
  }

  &__mobile {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .hero {
    height: 100vh;
    background-image: url("../../img/hero-mobile.png");
    background-repeat: no-repeat;
    background-position: center calc(50% - 40px);
    background-size: 520px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &::before {
      background-image: url("../../img/mobile-hero-1.png");
      width: 215px;
      height: 480px;
      top: calc(0% + 370px);
      background-size: contain;
      left: 0;
    }
    &::after {
      background-image: url("../../img/mobile-hero.png");
      width: 205px;
      height: 300px;
      top: 0;
      background-size: contain;
    }
    &__container {
    }
    &__main-img {
      display: none;
    }
    &__mobile {
    }
    &__wrapper {
    }
  }
}
